<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="topnav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/coinbase' ? 'active' : '' %>" href="/coinbase">Coinbase</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/kraken' ? 'active' : '' %>" href="/kraken">Kraken</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/bot' ? 'active' : '' %>" href="/bot">Bot</a>
            </li>
            <div class="search-container">
                <form action="/token-info" method="GET">
                    <input type="text" placeholder="Search for a Token.." name="token">
                    <button type="submit">Submit</button>
                </form>
            </div>
        </ul>
    </nav>
</header>

<nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/token-info' ? 'active' : '' %>" href="/token-info">Token Info</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/coinbase' ? 'active' : '' %>" href="/coinbase">Coinbase</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/kraken' ? 'active' : '' %>" href="/kraken">Kraken</a>
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/bot' ? 'active' : '' %>" href="/bot">Bot</a>
        </li>
    </ul>
</nav>